html, body {
  background: #F6F4EC;
}

body {
  color: #333;
  background: #F6F4EC;
}

h1 {
  font-family: Ubuntu, Calibri, Arial, sans-serif;
  font-size: 2.2em;
}

.main {
  background: #F6F4EC;
}

.sidebar {
  padding-top: 1em;
}

.content {
  background: #F6F4EC;
  padding-top: 1em;
}

.content .list-actions {
  margin-bottom: .4em;
}

.content .list-actions a {
  margin-right: .5em;
}

.content .list-actions a > .glyphicon {
  margin-right: .3em;
}

.content.with-notifications {
  padding-top: 8em;
}

.content .edit-coll-props .btn {
  margin-right: 0;
  margin-left: .3em;
}

.kinto-admin-title {
  background: transparent url("../images/logo.png") no-repeat right;
  background-size: contain;
}

.session-info-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #D1CCB8;
  padding: .2em 1.15em;
  z-index: 999;
}

.session-info-bar > a {
  margin-left: .5em;
}

.server-info-panel table {
  margin: 0;
}

.server-info-panel .table-condensed > tbody > tr > th,
.server-info-panel .table-condensed > tbody > tr > td {
  padding: .3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.server-info-panel tr:first-child th,
.server-info-panel tr:first-child td {
  border: none;
}

.alert h4 small {
  margin-left: .5em;
}

.collection-page .alert {
  margin-top: 1.5em;
  margin-right: .5em;
}

table.record-list {
  margin-top: 1em;
}

table.record-list th {
  background: rgba(0, 0, 0, .08);
}

table.record-list tbody.loading td {
  background: rgba(220, 220, 220, .15);
  color: #777;
}

table.record-list tr.unsynced {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #eee 10px,
    #eee 20px
  );
}

table.record-list tr.conflicting {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #FFC8C7 10px,
    #FFC8C7 20px
  );
}

table.record-list td:not(.actions) {
  max-width: 8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.record-list td.lastmod {
  white-space: nowrap;
  width: 180px;
}

table.record-list td.status {
  white-space: nowrap;
  width: 80px;
}

table.record-list td.actions {
  min-width: 110px;
  width: 110px;
  white-space: nowrap;
  text-align: center;
}

table.record-list td.actions .btn-group {
  margin-left: .5em;
}

.sort-link {
  float: right;
  margin-top: .1em;
  color: #444;
}

.sort-link.active {
  color: #fff;
}

.notifications {
  z-index: 99;
  margin-bottom: 1em;
  position: fixed;
  top: 1em;
  right: 1em;
  width: inherit;
  padding-left: 2em;
  padding-top: 1em;
}

@keyframes fadeIn {
  from { opacity: 0.5 }
  to   { opacity: 1 }
}

.notification {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.json-record {
  min-height: 300px;
}

.panel-heading > .glyphicon {
  margin-right: .5em;
}

.list-group-item .glyphicon {
  margin-right: .5em;
}

.gear-menu {
  float: right;
  margin: 0 -1.4em 0 0;
  color: #555;
  text-decoration: none;
}

.gear-menu .dropdown-toggle {
  border: 0;
  background: transparent;
}

.active .gear-menu button {
  color: #fff;
}

.collections-menu-entry a {
  color: #555;
  text-decoration: none;
}

.collections-menu-entry.active > a {
  color: #fff;
}

.bucket-menu-entry-edit {
  float: right;
  margin: .15em -.5em 0 0;
  color: #555;
  text-decoration: none;
}

.bucket-menu-entry-edit:hover {
  color: inherit;
}

.collections-menu-entry-edit {
  float: right;
  margin: .15em -1em 0 0;
  color: #888;
}

.collections-menu-entry-edit:hover {
  color: inherit;
}

.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
  border-radius: .3em;
}

.attachment-icon {
  width: 16px;
}

.attachment-action {
  margin: 0;
  padding: 0;
}

.attachment-info table {
  margin-bottom: 0;
}

.attachment-info .table-condensed > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.attachment-action input[type=button] {
  margin-top: -1em;
}

.attachment-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  right: 3.2em;
  width: 125px;
  height: 125px;
  background: #fff;
  border: 1px solid #ddd;
}

.attachment-img img {
  max-width: 100%;
  max-height: 100%;
}

.instructions {
  padding-left: 0;
}

.instructions ol {
  margin: 0;
}

/* Spinner http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #337ab7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
