html, body {
  background: #F6F4EC;
}

body {
  color: #333;
  background: #F6F4EC;
}

.main {
  background: #F6F4EC;
}

.sidebar {
  padding-top: 1em;
}

.content {
  background: #F6F4EC;
  padding: 1em 1vw 1em 21vw;
}

.content .list-actions {
  margin-bottom: .4em;
}

.content .list-actions a {
  margin-right: .5em;
}

.content .list-actions a > .glyphicon {
  margin-right: .3em;
}

.content.with-notifications {
  padding-top: 8em;
}

.content-header .edit-coll-props {
  padding-top: 1.5em;
}

.content-header .edit-coll-props i {
  margin-right: .3em;
}

.session-info-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #D1CCB8;
  padding: .2em 1.15em;
  z-index: 999;
}

.session-info-bar > a {
  margin-left: .5em;
}

.server-info-panel table {
  margin: 0;
}

.server-info-panel .table-condensed > tbody > tr > th,
.server-info-panel .table-condensed > tbody > tr > td {
  padding: .3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.server-info-panel tr:first-child th,
.server-info-panel tr:first-child td {
  border: none;
}

.alert h4 small {
  margin-left: .5em;
}

table.record-list tr.unsynced {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #eee 10px,
    #eee 20px
  );
}

table.record-list tr.conflicting {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #FFC8C7 10px,
    #FFC8C7 20px
  );
}

table.record-list td {
  max-width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.record-list td.lastmod {
  white-space: nowrap;
  width: 180px;
}

table.record-list td.status {
  white-space: nowrap;
  width: 80px;
}

table.record-list td.actions {
  min-width: 200px;
  width: 200px;
  white-space: nowrap;
}

.notifications {
  z-index: 99;
  margin-bottom: 1em;
  position: fixed;
  top: 1em;
  right: 1em;
  width: inherit;
  padding-left: 2em;
  padding-top: 1em;
}

.json-record {
  min-height: 300px;
}

.list-actions .label {
  margin-left: 1em;
}

.list-group-item .glyphicon {
  margin-right: .5em;
}

.collections-menu-entry a {
  color: #555;
  text-decoration: none;
}

.collections-menu-entry.active a {
  color: #fff;
}

.collections-menu-entry-edit {
  float: right;
  margin: .15em -1em 0 0;
  color: #888;
}

.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
  border-radius: .3em;
}

/* Spinner http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #337ab7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
