html, body {
  background: #F6F4EC;
}

body {
  color: #333;
  background: #F6F4EC;
}

.main {
  background: #F6F4EC;
}

.sidebar {
}

.content {
  background: #F6F4EC;
  padding: .5em 1vw 1em 21vw;
}

.content .list-actions > * {
  margin-right: .5em;
}

.content.with-notifications {
  padding-top: 8em;
}

.content-header .server-info {
  padding-top: 2.5em;
}

.server-info pre {
  background: #ddd;
  padding: 1em;
  border-radius: 4px;
}

.server-info pre.error {
  background: #C13832;
  color: #F6F4EC;
}

.alert h4 small {
  margin-left: .5em;
}

table.record-list tr.unsynced {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #eee 10px,
    #eee 20px
  );
}

table.record-list tr.conflicting {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #FFC8C7 10px,
    #FFC8C7 20px
  );
}

table.record-list td {
  max-width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.record-list td.lastmod {
  white-space: nowrap;
  width: 180px;
}

table.record-list td.status {
  white-space: nowrap;
  width: 80px;
}

table.record-list td.actions {
  min-width: 200px;
  width: 200px;
  white-space: nowrap;
}

.notifications {
  z-index: 99;
  background: #F6F4EC;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  right: 1em;
  width: inherit;
  padding-left: 2em;
  padding-top: 1em;
}

.json-record {
  min-height: 300px;
}

.list-actions .label {
  margin-left: 1em;
}

.sync-btn-group .dropdown-menu a {
  padding-left: 1em;
  padding-right: 2em;
}

.sync-btn-group .dropdown-menu .glyphicon {
  float: right;
  margin: .15em -1.5em 0 0;
  color: #888;
}

.sync-btn-group .dropdown-menu .active .glyphicon {
  color: #fff;
}

.list-group-item .glyphicon {
  margin-right: .5em;
}

.panel-heading .glyphicon {
  margin-right: .5em;
}

.collections-menu-entry a {
  color: #555;
  text-decoration: none;
}

.collections-menu-entry-edit {
  float: right;
  margin: .15em -1em 0 0;
  color: #888;
}

.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
  border-radius: .3em;
}
