html, body {
  background: #F6F4EC;
}

body {
  color: #333;
  background: #F6F4EC;
}

h1 {
  font-family: Ubuntu, Calibri, Arial, sans-serif;
  font-size: 2.2em;
}

.main {
  background: #F6F4EC;
}

.sidebar {
  padding-top: 1em;
}

.sidebar-filters > .panel-body {
  padding: 15px 15px 0 15px;
}

.sidebar-filters a.clear {
  color: #777;
}

.list-group-item .glyphicon.glyphicon-lock {
  color: #888;
}

.breadcrumbs {
  font-size: 1.2em;
  text-transform: lowercase;
}

.content {
  background: #F6F4EC;
  padding-top: 3.3em;
}

.content .list-actions {
  margin-bottom: .4em;
}

.content .list-actions a {
  margin-right: .5em;
}

.content .list-actions a > .glyphicon {
  margin-right: .3em;
}

.content.with-notifications {
  padding-top: 10em;
}

.content .edit-coll-props .btn {
  margin-right: 0;
  margin-left: .3em;
}

.kinto-admin-title {
  background: transparent url("../images/logo.png") no-repeat right;
  background-size: contain;
}

.session-info-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #D1CCB8;
  padding: .2em 1.15em;
  z-index: 999;
}

.session-info-bar > a {
  margin-left: .5em;
}

.server-info-panel table {
  margin: 0;
}

.server-info-panel .table-condensed > tbody > tr > th,
.server-info-panel .table-condensed > tbody > tr > td {
  padding: .3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.server-info-panel tr:first-child th,
.server-info-panel tr:first-child td {
  border: none;
}

.alert h4 small {
  margin-left: .5em;
}

.list-page .alert {
  margin-top: 1.5em;
  margin-right: .5em;
}

.tabs-container .panel-default {
  border-top: none;
}

.tabs-container .panel-danger {
  margin-top: 2em;
}

table.record-list {
  margin-top: 1em;
}

table.record-list th {
  background: rgba(0, 0, 0, .08);
}

table.record-list tbody.loading td {
  background: rgba(220, 220, 220, .15);
  color: #777;
}

table.record-list tr.unsynced {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #eee 10px,
    #eee 20px
  );
}

table.record-list tr.conflicting {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #FFC8C7 10px,
    #FFC8C7 20px
  );
}

table.record-list td:not(.actions) {
  max-width: 8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .8em .5em;
}

table.record-list td.lastmod {
  white-space: nowrap;
  width: 120px;
}

table.record-list td.status {
  white-space: nowrap;
  width: 80px;
}

table.record-list td.actions {
  min-width: 150px;
  width: 150px;
  padding: .5em 0;
  white-space: nowrap;
  text-align: center;
}

table.record-list td.actions .btn-group {
  margin: 0 .5em;
}

table.record-list > tbody + tbody {
  border-top: none;
}

.load-more > a {
  display: block;
  width: 100%;
}

table.record-list td.load-more {
  padding: 0;
  line-height: 2.5em;
}

.load-more > a:hover, .load-more > a:active {
  background: #d9edf7;
  text-decoration: none;
}

.load-more .spinner {
  margin-top: .25em;
}

.history-row-details {
  display: table-row;
}

.table > tbody > tr.history-row-details > td {
  padding: 0;
  margin: 0;
}

.history-row-details td pre {
  border: none;
  margin: 0;
}

.history-row-details .alert {
  margin: 0;
  border-radius: 0;
}

.sort-link {
  float: right;
  margin-top: .1em;
  color: #444;
}

.sort-link.active {
  color: #fff;
}

.notifications {
  z-index: 99;
  margin: 1em 0;
  position: fixed;
  top: 1em;
  right: 1em;
  width: inherit;
  padding-left: 2em;
  padding-top: 1em;
}

@keyframes fadeIn {
  from { opacity: 0.5 }
  to   { opacity: 1 }
}

.notification {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.notification p {
  line-height: 1.8em;
}

.notification a.btn-details {
  font-size: .9em;
  margin-left: .3em;
  color: #777;
}

.json-record > div {
  padding: 1px 0 1px 4px;
}

.json-record > div.added {
  background: #cbeecb;
  color: green;
}

.json-record > div.removed {
  background: #f0c9c9;
  color: red;
}

.panel-heading > .glyphicon,
.list-group-item .glyphicon,
.nav-tabs li .glyphicon {
  margin-right: .5em;
}

.nav-tabs.nav-justified > li > a {
  color: #333;
}

.collections-menu-entry a:first-child {
  display: inline-block;
  width: 95%;

  color: #555;
  text-decoration: none;
}

.collections-menu-entry.active > a {
  color: #fff;
}

.bucket-menu-entry-edit {
  float: right;
  margin: .15em -.5em 0 0;
  color: #555;
  text-decoration: none;
}

.bucket-menu-entry-edit:hover {
  color: inherit;
}

.collections-menu-entry-edit {
  float: right;
  margin: .15em -1em 0 0;
  color: #888;
}

.collections-menu-entry-edit:hover {
  color: inherit;
}

.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
  border-radius: .3em;
}

.attachment-icon {
  width: 16px;
}

.attachment-action {
  margin: 0;
  padding: 0;
}

.attachment-info table {
  margin-bottom: 0;
}

.attachment-info .table-condensed > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.attachment-action input[type=button] {
  margin-top: -1em;
}

.attachment-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  right: 3.2em;
  width: 125px;
  height: 125px;
  background: #fff;
  border: 1px solid #ddd;
}

.attachment-img img {
  max-width: 100%;
  max-height: 100%;
}

/* Generic forms */

form button[type="submit"].btn-primary {
  font-size: 1.2em;
  padding: 12px;
  box-shadow: inset 0px 0px 0px 1px #fff;
}

.record-form-buttons .delete {
  margin-top: 12px;
}

/* Permissions form */

.permissions-form .array-item:not(:last-child) fieldset {
  border-bottom: 1px solid #eee;
}

.permissions-form .field-principal {
  float: left;
  width: 60%;
  padding-right: 1em;
}

.permissions-form .field-permissions {
  float: left;
  width: 30%;
  padding-left:1em;
}

.permissions-form .field-anonymous,
.permissions-form .field-authenticated {
  width: 100%;
  float: left;
  clear: both;
}
  .permissions-form .field-anonymous {
    border-bottom: 1px solid #eee;
  }
  .permissions-form .field-anonymous p,
  .permissions-form .field-authenticated p {
    width: 50%;
  }
  .permissions-form .field-anonymous .checkboxes,
  .permissions-form .field-authenticated .checkboxes {
    float: right;
    width: 50%;
    padding-left: 1em;
    margin-top: -60px;  /* \o/ */
  }
  .permissions-form .field-groups fieldset {
    clear: left;
  }
  .permissions-form .field-groups .checkboxes {
    float: right;
    width: 50%;
    padding-left: 1em;
    margin-top: -60px;  /* \o/ */
  }
  .permissions-form .field-groups fieldset > .field.field-array {
    clear: right;
  }

  .permissions-form .field-principals .checkboxes {
    margin-top: -35px;  /* \o/ */
  }

  .permissions-form .field-principal > label {
    display: none;
  }

/* Spinner http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #337ab7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
