html, body {
  background: #F6F4EC;
}

body {
  color: #333;
  background: #F6F4EC;
}

.main {
  background: #F6F4EC;
}

.sidebar {
}

.content {
  background: #F6F4EC;
  padding: .5em 1vw 1em 21vw;
}

.content .list-actions > * {
  margin-right: .5em;
}

.content.with-notifications {
  padding-top: 6.5em;
}

.content-header .server-info {
  padding-top: 2.5em;
}

.server-info pre {
  background: #ddd;
  padding: 1em;
  border-radius: 4px;
}

.server-info pre.error {
  background: #C13832;
  color: #F6F4EC;
}

.alert h4 small {
  margin-left: .5em;
}

table.record-list tbody tr.unsynced {
  background: repeating-linear-gradient(
    45deg,
    #fcf8e3,
    #fcf8e3 10px,
    #eee 10px,
    #eee 20px
  );
}

table.record-list td.lastmod {
  width: 180px;
}

table.record-list td.status {
  width: 80px;
}

table.record-list td.actions {
  width: 120px;
  white-space: nowrap;
}

.notifications {
  z-index: 99;
  background: #F6F4EC;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  right: 1em;
  width: inherit;
  padding-left: 2em;
  padding-top: 1em;
}
