{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "vars": "all", "args": "none", "varsIgnorePattern": "^_" }
    ],
    "no-console": "off"
  },
  "globals": {
    "Generator": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "@typescript-eslint/eslint-plugin"]
}
