sudo: false
dist: trusty
language: python
python:
- "3.6"
addons:
  apt:
    packages:
    - xvfb
cache:
  directories:
  - node_modules
before_install:
before_install:
  - wget https://raw.githubusercontent.com/creationix/nvm/v0.33.0/nvm.sh -O ~/.nvm/nvm.sh
  - source ~/.nvm/nvm.sh
  - nvm install 6 # for Node v6
  - node --version
  - pip install https://github.com/Kinto/kinto/zipball/master
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
  - npm run build
env:
  - ACTION="build:lib"
  - ACTION="test-all:ci"
  - ACTION="cs-check"
script: npm run $ACTION
