name: Deploy to GitHub Pages
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'npm'

      - name: Install Node dependencies
        run: npm ci
      
      - name: Set package version
        run: |
            LATEST_TAG=$(git describe --tags --abbrev=0 | sed s/^v//\;s/$// | tr -d '"')
            CURRENT_BRANCH=$(git branch --show-current | tr -d '"')
            CURRENT_COMMIT=$(git rev-parse --short HEAD)
            VERSION_NUMBER=".version=\"${LATEST_TAG}-${CURRENT_BRANCH}-${CURRENT_COMMIT}\""
            jq ${VERSION_NUMBER} package.json > temp_package.json
            mv temp_package.json package.json
      
      - name: Build the package
        run: |
            npm run build
            cd build
            tar -cvf "$RUNNER_TEMP/artifact.tar" *

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ runner.temp }}/artifact.tar

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment: 
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
